internal/runtime/compiler/parser/parser.go -diff -merge
internal/runtime/compiler/parser/parser.go linguist-generated=true
internal/runtime/compiler/parser/y.output -diff -merge
internal/runtime/compiler/parser/y.output linguist-generated=true
logo.png binary
internal/mtail/logo.ico binary
.gitattributes export-ignore
.gitignore export-ignore
docs/* linguist-documentation
