name: "on pull request merge, delete the branch"
on: pull_request
jobs:
  branch-cleanup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        uses: jessfraz/branch-cleanup-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
